.App {
  display: flex;
  flex-direction: column;
}
section {
  padding: 1rem;
}
.header {
  padding: 1rem 2rem;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  color: white;
}
.header select {
  height: 30px;
  width: 140px;
  border-radius: 5px;
  border: none;
}
